<html>

<head>
    <!-- page Meta -->
    <!-- style sheets -->
    <!-- included scripts -->
    <%- include('layouts/basic-head') %>
    
    <title>Home</title>
</head>

<body>
    <%- include('layouts/navbar') %>
    
    <div>
        hello world
    </div>

</body>


</html>